<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="FaceBlog-Heaven For Bloggers">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <title>FaceBlog-Heaven for bloggers!</title>
  <style>
    .container{
            background-color: #fcd1d1;
            border: 2px solid #ffb4b4;
            border-radius: 10px;
            width: 100%;
            margin: 40px auto;
            padding: 5px;
            color: black;
        }
      .image{
            margin-bottom: 5px;
        }
        .center{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .title{
            text-align: center;
        }
        .btn{
            cursor: pointer;
            background-color: darkred;
            color: cornsilk;
            margin: 2px 2px;
        }
         .color{
            background-color: #ffffff;
        }
        .myimg{
          border-radius: 100%;
          border: 2px solid white;
        }
  </style>
</head>

<body class="color">
  <header>
    <%- include('./partials/header'); %>
  </header>
  <!-- carousel code

  <div id="carouselExampleCaptions" class="carousel slide carousel-fade"    data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/adventure6.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Welcome To FaceBlog</h2>
          <p>Publish Your Experiences.It's free and easy to use</p>
          <button type="button" class="btn btn-warning" id='create' >Create Your Blog</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/adventure7.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Welcome To FaceBlog</h2>
          <p>Publish Your Experiences.It's free and easy to use</p>
          <button type="button" class="btn btn-warning" id='create' >Create Your Blog</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/adventure5.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Welcome To FaceBlog</h2>
          <p>Publish Your Experiences.It's free and easy to use</p>
          <button type="button" class="btn btn-warning" id='create' >Create Your Blog</button>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  
 -->

<!-- ==================================== -->
<% blogs.forEach(function(blog) { %>
      <div class="container" id="contain1">
        <div class="container1" style="text-align: center">
          Published By <%=blog.name%> on <span> <%=blog.dates%> </span>
        </div>
        <div class="title" style="margin: 10px;" id= <%= blog.id %> >
          <%let add = '/getone/' + blog.id %>  
          <h2> <a href=<%= add %>> <%=blog.title%> </a></h2>
        </div>
        <div class="image" style=" height:300px; width: 500px; margin: auto; border:2px soild black;">
            <img src=<%=blog.imgurl%> alt="" height="300" width="500" class="myimg">
        </div> 
        <div style="margin-top: 20px;">
          <%=blog.body%>  
        </div>
            <!-- <button class="btn">Edit</button> -->
        <!-- <button class="btn">Delete</button> -->
        <a href=" /delete/<%= blog._id %>" class="btn btn-danger">Delete</a>
      </div>
    <% }); %>
  <%- include('./partials/footer'); %>
</body>
<!-- <script>
  let createBlog = document.getElementById('create');
  createBlog.addEventListener("click" , ()=>{
    window.location.href="http://localhost/admin";
  });
</script> -->

</html>
